/* .Home{
    background-image: url('https://images.squarespace-cdn.com/content/v1/5be93edecc8fedbce94c180a/1554570304859-K55V67QY7IOVFWRF5VEF/Rethink+Retail+Home+Banner.jpg');
    background-size: cover;
    background-attachment: fixed;
    
} */

/* .Home{
    background: linear-gradient(to right,rgb(81, 177, 222),rgb(123, 67, 123));
} */